<div id = "ball">
<h4>Your Quiz has being created, Pls fill the form,<br/>  to add questions to the quiz.</h4>

 <p>Click <%= link_to('here',{controller: 'questions', action: 'index'})%> to add another question, or <%= link_to('here',{controller: 'quizzes', action: 'home'})%> to go back</p>

   <%= form_for(@question) do |f| %>
           <div class="form-group">
           <label for="comments">Questions</label>
    		<div class="row">
    			<div class="col-xs-3">
    			 <%= f.text_area :quest, placeholder: 'Question' %>
    			</div>
			</div>
        </div>


		<div class="form-group">
		<label for="inputEmail">Option1</label>
        <div class="row">
           <div class="col-xs-3">
            	 <%= f.text_field :op_1, placeholder: 'Option1' %>
            </div>
        </div>
	</div>

			<div class="form-group">
			<label for="inputEmail">Option2</label>
        <div class="row">
           <div class="col-xs-3">
            	<%= f.text_field :op_2, placeholder: 'Option2' %>
            </div>
        </div>
	</div>


		<div class="form-group">
		<label for="inputEmail">Option3</label>
        <div class="row">
           <div class="col-xs-3">
            	<%= f.text_field :op_3, placeholder: 'Option3' %>
            </div>
        </div>
	</div>


			<div class="form-group">
			<label for="inputEmail">Answer</label>
        <div class="row">
           <div class="col-xs-3">
           <%= f.text_field :answer, placeholder: 'Answer' %>
            </div>
        </div>
	</div>

	<%= f.hidden_field :quiz_id, value: params[:qid] %>


        <button type="submit" class="btn btn-primary">Submit</button>

       
        <%end%>

</div>