<!--<h1>FirstPage#first_page</h1>
<p>Find me in app/views/first_page/first_page.html.erb</p>!-->
<!-- <div id = "login"><a href="#" class="btn btn-danger">Log-in</a></div>  -->
<% @quizzes = Quiz.all %>
<%= link_to('Log-in',{controller: 'sesions', action: 'new', id: "logIn"} )%>
<p><%= link_to('Sign up',{controller: 'users', action: 'new', id: "SignUp"} )%></p>

<div id ="blue"></div>

<!-- <table id= "testTable">
	<tr>
		<th>Quiz Title</th>
		<th>Category</th>
		<th><th>
	</tr>
</table> -->
<div class="testTable">
    <div class="CSSTableGenerator" >
        <table >
            <tr>
                <td>Quiz Title</td><td>Category</td><td>Take test</td>
            </tr>
            <% @quizzes.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.category %></td>
      <td><%= %></td>
    </tr>
    <% end %>
        </table>
    </div>
</div>
                     
                   